.becomeadonor {
    background-color: white;
    padding: 5px 50px;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

.becomeadonor:hover {
    background-color: black;
    color: white;
}