<!doctype html>
<html lang="en">

<head>
    <title>Blood Donation System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html">
                <img src="" alt="" style="width:40px;" class="rounded-pill"> BloodBank
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="aboutus.html">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="whydonor.html">Why Become Donor</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link " href="becomedonor.html">Become A donor</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="searchdonor.html">Search Blood</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link " href="contact.html">Contact Us</a>
                    </li>



                </ul>

                <span class="navbar-text">
                    <a  class="btn btn-danger text-light nav-link " href="#">Logout</a>
                  </span>

            </div>
        </div>
    </nav>
    <!-- navbar done -->


    <!-- about us start-->

    <section class="py-5">

        <div class="container">
            <div class="headertext mb-4  p-4 text-light bg-secondary">
                <h2>
                    Search <b>Donor</b>
                </h2>
            </div>
            <div id="headline">
                <form>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 p-2">
                            <div>
                                <label class="form-label">Blood Group</label>
                                <select class="form-select">
                                    <option value="">Select</option>
                                    <option value="">A+</option>
                                    <option value="">A-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 p-2">

                            <div>
                                <label class="form-label">Address</label>
                                <textarea class="form-control" name="" id="" cols="30" rows="2"></textarea>
                            </div>

                        </div>

                    </div>
                    <button class="btn btn-success" type="submit">Search</button>
                </form>


                <div class="container">
                    <div class="row">

                        <div class="col-12 col-sm-6 col-md-4 py-5">
                            <div class="card">
                                <img src="images/admin.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 style="display: inline-block;">Mobile:</h6> <span> 01830445326</span><br>
                                    <h6 style="display: inline-block;">Email:</h6> <span> pranto@gmail.com</span><br>
                                    <h6 style="display: inline-block;">Gender:</h6> <span> male</span><br>
                                    <h6 style="display: inline-block;">Address:</h6> <span> kashimpur</span><br>
                                    <h6 style="display: inline-block;">Blood Group0:</h6> <span> B+</span><br>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 py-5">
                            <div class="card ">
                                <img src="images/admin.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 style="display: inline-block;">Mobile:</h6> <span> 01830445326</span><br>
                                    <h6 style="display: inline-block;">Email:</h6> <span> pranto@gmail.com</span><br>
                                    <h6 style="display: inline-block;">Gender:</h6> <span> male</span><br>
                                    <h6 style="display: inline-block;">Address:</h6> <span> kashimpur</span><br>
                                    <h6 style="display: inline-block;">Blood Group0:</h6> <span> B+</span><br>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 py-5">
                            <div class="card">
                                <img src="images/admin.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 style="display: inline-block;">Mobile:</h6> <span> 01830445326</span><br>
                                    <h6 style="display: inline-block;">Email:</h6> <span> pranto@gmail.com</span><br>
                                    <h6 style="display: inline-block;">Gender:</h6> <span> male</span><br>
                                    <h6 style="display: inline-block;">Address:</h6> <span> kashimpur</span><br>
                                    <h6 style="display: inline-block;">Blood Group0:</h6> <span> B+</span><br>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- about us end -->




    <footer class="text-light bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center pt-4">
                    <p style="font-size: small;">
                        Copyright <i class="fa fa-copyright" aria-hidden="true"></i> BloodBank and Donor Management System 2022 (AtiqurPranto)
                    </p>
                </div>
            </div>
        </div>
    </footer>




    <script src=" js/jquery-3.5.1.slim.min.js "></script>
    <script src="js/popper.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js "></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js "></script>

    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>

</body>

</html>